 
  .containerCenter {
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--gray-900);
  }

  .subTitle {
    margin-top: 1rem;
    color: var(--gray-50);
    margin-right: 40px;
  }

  .label {
    color: var(--gray-50);
    margin-right: 5.625rem;
    margin-bottom: 1rem;
  }

  .login {
    margin-top: 2rem;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 1.5rem;

    h1 {
      color: var(--white);
    }

    form {
        width: 90%;
        display: flex;
        flex-direction: column; 
    }

    form button {
        height: 2.5rem;
        font-size: 1.2rem;
    }
  }

  .text {
    margin-top: 1rem;
    color: var(--gray-50);
    cursor: pointer;
  }

  @media (max-width: 620px) {
    .login {
        width: 90%;
    }
  }
